.myBox
{
  border: 1px black solid;
}

.myRedBox
{
  background-color: rgb(255, 0, 0);
}

.myGreenBox
{
  background-color: rgb(0, 255, 13);
}

hr
{
  display: block;
  border: 1px black solid;
  width: 30%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.Task
{
  background-color: rgb(255, 0, 255);
}

.Entry
{
  border: 1px black solid;
  padding: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.EntryCategory
{
  text-align: left;
  color: black;
  text-decoration: underline cornflowerblue;
}

.EntryImage
{
  background-image: url("images/wood_grain.jpg");
  background-color: rgb(39, 23, 9);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.EntryTitle
{
  text-align: center;
  color: goldenrod;
  text-decoration: none;
}

.EntryItems
{
  text-align: center;
  color: rgb(87, 167, 23);
  text-decoration: none;
}

.EntryLocation
{
  text-align: left;
  color: rgb(87, 167, 23);
  text-decoration: none;
}

.EntryDescription
{
  text-align: left;
  color: rgb(87, 167, 23);
  text-indent: 25px;
  text-decoration: none;
}

.Invisible
{
  display: none
}